{% load static %}

<html>
    <link rel="stylesheet" href="{% static 'first.css' %}">
    <title>About Library</title>
    <header>
        <img src="{% static 'Logo.png' %}" align="left" width="125" height="80">
        <h1>Mera Pustkalay</h1>
    </header>
<body>
    <nav>
        <a href="/home">Home</a>
    </nav>
    <main>
        <h2 align = "center ">About Library</h2>    
        <h4>Collections:</h4> 
        <li>Libraries typically house a diverse range of materials, including books, magazines, newspapers, audio-visual materials, and sometimes digital resources. The collections can be general or specialized, depending on the focus and purpose of the library.</li>
        <h4>Classification and Cataloging:</h4>
        <li>Books in a library are often organized using classification syAccess: Libraries provide access to their collections through borrowing systems, allowing patrons to check out books for a specific period. Some libraries also offer on-site reading areas for those who prefer to read within the library premises.stems like the Dewey Decimal Classification or the Library of Congress Classification. Cataloging involves creating detailed records of each item, which helps users locate and retrieve materials efficiently.</li>
        <h4>Access:</h4> 
        <li>Libraries provide access to their collections through borrowing systems, allowing patrons to check out books for a specific period. Some libraries also offer on-site reading areas for those who prefer to read within the library premises.</li>
        <h4>Reference Services:</h4>
        <li>Librarians offer reference services to help users find information, conduct research, and navigate the library's resources. Reference sections often include dictionaries, encyclopedias, and other quick-reference materials.</li>
        <h4>Digital Libraries:</h4>
        <li> With advancements in technology, many libraries have embraced digital formats. Digital libraries provide electronic access to books, articles, and other resources, allowing users to access information remotely.</li>
        <h4>Community Events and Programs:</h4>
        <li>Libraries often host events, workshops, and programs to engage with the community. These may include book clubs, author talks, educational workshops, and children's reading programs.</li>
        <h4>Educational Support:</h4>
        <li>Libraries serve as valuable resources for students and educators. Academic libraries, in particular, support research and study by providing access to scholarly materials and reference assistance.</li>
        <h4>Archives and Special Collections:</h4>
        <li>Some libraries house special collections or archives containing rare books, manuscripts, and historical documents. These materials are often preserved for research purposes.</li>
        <h4>Public and Private Libraries:</h4>
        <li>Librzries can be public, serving the general public in a specific geographic area, or private, catering to specific institutions or organizations.</li>
        <h4>Adaptation to Technology:</h4>
        <li>Modern libraries are adapting to technological changes, incorporating digital resources, online catalogs, and electronic databases to meet the evolving needs of their users.</li>
    
    
    </main>
    
    <footer>
        <marquee>&copy; 2024 College Name. All rights reserved.</marquee>
    </footer>

</body>
</html>