{% load static %}

<html>
    <link rel="stylesheet" href="{% static 'first.css' %}">
    <title>Staff Details</title>
    <header>
        <img src="{% static 'Logo.png' %}" align="left" width="125" height="80">
        <h1>Mera Pustkalay</h1>
    </header>
<body>

    <nav>
    </nav>
    <main>
        <h2 align = "center ">Try Again</h2>
         




    </main>
    <a href="{% url 'login_entry' %}"><label>Back</label></a>
    <footer>
        <marquee>&copy; 2024 College Name. All rights reserved.</marquee>
    </footer>

</body>
</html>