{% load static %}

<html>
    <link rel="stylesheet" href="{% static 'first.css' %}">
    <title>Edit User Profile</title>
    <header>
        <img src="{% static 'Logo.png' %}" align="left" width="125" height="80">
        <h1>Mera Pustkalay</h1>
    </header>
    
<body>

    <nav>
        <a href="/home">Home</a>
    </nav>
    <main align = "center">
        <h2 align = "center ">Edit User Profile</h2>
        <form action="edituser/{{ mymember.id }}" method="post">
 
            <!-- Security token -->
            {% csrf_token %}
            <table align="Center">
            <tr>
            <td><label>Username:</label></td>
            <td><input name="username" value="{{mymember.username}}" required></td>
            </tr>
            <tr>
            <td><label>Email:</label></td>
            <td><input name="email" value="{{mymember.email_id}}"></td>
            </tr>
            <tr>
            <td><label>Password:</label></td>
            <td><input name="password" value= "{{mymember.pass_word}}"required></td>
            </tr>
            </table>
            <br>
            <input type="submit">
        </form> 
        
        <a href="/home"><button>Cancel</button></a>        
    </main>
    <a href="/home"><label>Back</label></a>
    <footer>
        <marquee>&copy; 2024 College Name. All rights reserved.</marquee>
    </footer>

</body>
</html>